[Unit]
Description=uWSGI instance to serve the api instance
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/aws-test
Environment="PATH=/home/ec2-user/aws-test/venv/bin"

# --wsgi-disable-file-wrapper because uwsgi fails to work with responses with binary files :)
ExecStart=/home/ec2-user/aws-test/venv/bin/uwsgi --ini /home/ec2-user/aws-test/resources/api.ini

[Install]
WantedBy=multi-user.target
