[Unit]
Description=uWSGI instance to serve the api instance
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/opt/aws-test
Environment="PATH=/opt/aws-test/venv/bin"

ExecStart=/opt/aws-test/venv/bin/uwsgi --ini /opt/aws-test/resources/api.ini

[Install]
WantedBy=multi-user.target
